Package: bds-common
Source: https://github.com/Sirherobrine23/BDS-Common
Section: bysh23
Depends: qemu-user-static
Homepage: https://www.minecraft.net/en-us/download/server/bedrock
Version: 1.16.40.02
Maintainer: Matheus S Queiroga <srherobrine20@gmail.com>
Architecture: amd64
Description: Small package with Minecraft Bedrock Server software
 Is not Open Sorce Software, Mojang AB

